*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #131839;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactenos{
    color: white;
    margin-top: 50px;  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
h4{
    color: #6C56C2;   
}
.formulario{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}