*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
   /* text-decoration: none; "ponerlo en el container"}*/
}

body{
    background-color: #131839;
    /*display: flex; "ponerlo en el contenedor"
    justify-content: center; "ponerlo en el contenedor"
    align-items: center; "ponerlo en el contenedor"*/ 
    height: 100%;
}
.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.header-main {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar {
    display: flex;
    align-items: center;
    gap: 3em;

}

.navbar-item {
    list-style-type: none;
}

li {
    text-decoration: none;
}

.navbar-item a {
    color: #A9A5A6;
    transition: all 1s;

}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.navbar-item a:hover {
    color: white;
    font-weight: 700;
}

.btn-header {
    background: #6C56C2;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding: 0.5em 2em;

}

button a:hover {
    background: #6C56C2;
    font-weight: 400;
}
.checkbtn {
    line-height: 20px;
    font-size: 20px;
    background-color:rgba(108, 86, 194, 1);
    color: #FFFFFF;
    float: right;
    margin-right: 20px;
   
    cursor: pointer;
    display: none;
    }
.check{
    display: none;
}

/*JHOANA FORMULARIO*/


.form-main{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-main-uno {

    font-family: 'Inter', sans-serif;
    grid-template-columns: repeat(2, 1fr);

}

h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 48.5px;
    text-align: left;
    margin-top: -15px;
    color: rgba(255, 255, 255, 1);
}
.form-main p{
    font-size: 17px;
    font-weight: 700;
    color: rgba(108, 86, 194, 1);

}

.campo, textarea{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid rgba(230, 230, 230, 1);
    margin-bottom: 10px;
    outline: 0px;
}

.btn-enviar{
    padding: 10px;
    font-size: 12px;
    background: #6C56C2;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 300ms ease;
    text-align: center;
}


.container-akai{
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    
}

h1{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif; 
    font-style: normal;
   
    font-size: 44px;
    line-height: 50px;
    margin-left: 0px;
    margin-top: 30px;

}


.container-akai p{
    color: rgba(169, 165, 166, 1);
    margin-top: 30px;
}

.asterisco{
    margin-left: 350px;
    margin-top: -30px;
    width:15px;
    height:15px;
}

.items{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 160px;
    width: 412px;
    height: 86px;
}

.items button{
    width: 146px;
    height: 46px;
    background: #6C56C2;
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    margin-right: 90px;

}
.items img{
    width: 14px;
    height: 14px;
    color: #FFFFFF;
    margin-right: 20px;
    
}
.items p {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
    margin-right: auto;
    height: 24px;
    width: 99px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 14px;
    align-items: center;
    
}

.hero-pad {
    display: grid;
    height: min-content;
    position: relative;
    filter: drop-shadow(0px 0px 100px rgba(186, 168, 255, 0.42));

}

.keys {
  position: absolute;
  width: 64%;
  height: 75%;
  top: 10%;
  right: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3%;
  flex-grow: 1;
  flex-wrap: wrap;
  

}
.key {
    background: linear-gradient(180deg, #222222 50.35%, #353535 100%);
    border: 3px solid #D94A4A;
    box-shadow: -3px 6px 4px rgba(0, 0, 0, 0.61), inset 0px 4px 6px rgba(255, 255, 255, 0.52), inset -3px 5px 4px rgba(0, 0, 0, 0.77);
    border-radius: 3px;
    transition: all 0.7s;

}
.playing {
    transform: scale(1.1);
    
    border-color: blue;
    box-shadow: 0 0 1rem blue;

} 
@media screen and (max-width: 640px) {
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
    }


   .checkbtn{
    display: block;
    margin-right: 78px;
    margin-top: 20px;
   }
   
   .header-navbar img{
    margin-left: 58px;
   }
   .btn-header, nav{
    display: none;
}
.hero-pad img{
    width: 289.49px;
    height: 243px;
    top:-300px
    
}

.hero-text h1 {
    
    padding-top: 1em;
    display: grid;
    
   font-size: 33px;
   line-height: 45px;;
    margin-top: 300px;
    margin-left: 108px;
    text-align: center;
   
}
.hero-pad{
    position: absolute;
    margin-left: 140px;
    text-align: center;
    margin-top: 0.1em;
    border-radius: 10px;
}
.hero-text p{
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    margin-left: 108px;

}
.items{
display: grid;
justify-content: center;
align-content: center;
}
.items button{
    width: 238px;
height: 80px;
margin-bottom: 130px;
margin-left: 258px;
background: #6C56C2;
border-radius: 14px;
}
.items img {
    height: 14px;
    width: 17px;
    margin-top: -178px;
    margin-left: 328px;
    

}
.items p{
    font-size: small;
    margin-left: 338px;
    margin-top: -178px


}


.form-main-uno{
    height: 53px;
    width: 289px;
    margin-top: -68px;
    margin-left: 168px;
}  
.form-main-dos{
    height: 440px;
    width: 300px;
    margin-left:-318px;
    margin-top: 10px;

}
.btn-enviar{
    
    width: 304px;
    height:60px;
}
}

 





